<mat-card class="col-8 offset-2">
  <h2>Add new event</h2>
  <form [formGroup]="musicEventForm">
    <mat-form-field>
      <input placeholder="Name" matInput type="text"  formControlName="Name"/>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Price" matInput type="number" formControlName="Price"/>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Date" matInput type="text" formControlName="Date"/>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Image url" matInput type="text" formControlName="ImageUrl"/>
    </mat-form-field>
    <mat-form-field>
      <textarea placeholder="Description" matInput formControlName="Description"></textarea>
    </mat-form-field>
    <div class="buttonContainer">
      <button mat-flat-button color="primary">Cancel</button>
      <button mat-flat-button color="primary">Add</button>
    </div>
  </form>
  {{musicEventForm.value | json}}
</mat-card>
